@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";




@theme {
  --font-main: "Montserrat";
  --font-brand: "Bodoni Moda";


}








a {
  text-decoration: none;
  text-decoration-color: none;
}



/* COLOR SHEET: https://tailwindcss.com/docs/customizing-colors */
:root {
  --primary: #ffffff;
  --complementary: #111827; /* TAILWIND: GRAY 900 */
  --complementarySkew: #212529;
  --highlight: #9ca3af; /* TAILWIND: GRAY 400 */
  --brand: #60a5fa; /* TAILWIND: BLUE 400 */
  --brandSkew: #818cf8; /* TAILWIND: INDIGO 400 */
  --success: #16a34a; /* TAILWIND: GREEN 600 */
  --error: #dc2626; /* TAILWIND: RED 600 */
}

body {
  font-family: 'Open Sans', apple-system, sans-serif;
  background: var(--primary);
  box-sizing: border-box;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.appContent {
  
  flex: 1;
}

#hero-section {
  margin: 1rem auto;
  padding: 2rem 10rem;
}

#hero-section h1 {
  font-weight: bolder;
  font-size: 4em;
  margin: 2rem 0;
}

#hero-section p {
  margin: 1.5rem 0;
}

footer {
  padding: 1rem;
  text-align: center;
  color: var(--primary);
  background-color: var(--complementarySkew);
}

/* NEW CSS - SOLUTION TO CSS CHALLENGES */
/* A. BUTTON COMPONENT */
.homeBtn {
  display: inline-block;
  margin: 0px auto;
  width: 150px;
  border-radius: 10px;
  padding: 0.8rem;
  color: var(--primary);
  background: var(--brand);
  background: linear-gradient(45deg, var(--brandSkew) 0%, var(--brand) 100%);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.homeBtn:hover {
  color: var(--complementary);
  background: var(--brand);
  background: linear-gradient(225deg, var(--brandSkew) 0%, var(--brand) 100%);
  transform: scale(1.01);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.homeBtn #btn-icon {
  font-size: 1.5em;
}

/* B. NAVBAR COMPONENT */
.navbar {
  background: var(--complementary);
  color: var(--primary);
}

.navbar .navbar-brand, 
.navbar .nav-link {  
  color: var(--primary);
}

.navbar .navbar-brand:hover, 
.navbar .nav-link:hover {  
  color: var(--brand);
}

.notFoundWrapper {
  margin: 4rem 0;
  text-align: center;
}

.notFoundCover img {
  display: block;
  margin: auto;
}





/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}



h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

